/BillSubjectCrowdsourcer/nbproject/private/
/nbproject/private/
/PHPUnit/
/view/templates_c/
/config/config.ini
/config/ProductionConfig.ini
/config/TestingConfig.ini
/config/testing.ini
/config/production.ini